<nav>
    <div class="menu_content">
        <div class="nav_first_content">
            <a class="logo-menu" href=""><img class="logo-menu" src="../../../assets/imgs/logo.svg" alt=""></a>
            <ul>
                <li><a href="#">Filmes</a></li>
                <li><a href="#">Séries</a></li>
                <li><a href="#">Pessoas</a></li>
                <li><a href="#">Mais</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="#">+</a></li>
                <li><a href="#">Inciar Sessão</a></li>
                <li><a href="#">Aderir ao TMBD</a></li>
                <li><a href="#">P</a></li>
            </ul>
        </div>
    </div>
</nav>