.box_small-card{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box_small-card img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.box_small-card h3{
    margin-top: 10px;
}

.box_small-card h4{
    color: rgb(114, 114, 114);
    font-weight: 400;
}