<app-menu-bar></app-menu-bar>
<app-button-comeback></app-button-comeback>
<div class="bg-card_content" [style.background-image]="'url(' + urlCss + ')'">
    <section class="bg-sectionCard-content">
        <div class="structure_content">
            <div class="big-card">
                <app-big-card *ngIf="movieDetail" [url]="movieDetail.poster_path ? movieDetail.poster_path : ''"></app-big-card>
            </div>
            <div class="titulo">
                <app-title-main  *ngIf="movieDetail"
                [name]="movieDetail.title ? movieDetail.title : movieDetail.original_name ? movieDetail.original_name : ''"
                [date]="movieDetail.release_date ? movieDetail.release_date : movieDetail.first_air_date ? movieDetail.first_air_date : ''"
                [genres]="movieDetail.genres"
                [time]="movieDetail.runtime"
                ></app-title-main>
            </div>
            <div class="content">
                <app-overview-box *ngIf="movieDetail"
                    [tagline]="movieDetail.tagline ? movieDetail.tagline : ''"
                    [sinopse]="movieDetail.overview ? movieDetail.overview : ''"
                ></app-overview-box>
            </div>
        </div>
    </section>
</div>

<!-- 

[age] = "movieChosen.age"

[rate] = "movieChosen.rate"

[creatorsOverview] = "movieChosen.creatorsOverview" -->