<app-menu-bar></app-menu-bar>
<app-button-comeback [type]="type"></app-button-comeback>
<div class="bg-card_content" [style.background-image]="'url(' + urlCss + ')'">
    <section class="bg-sectionCard-content">
        <div class="structure_content">
            <div class="big-card">
                <app-big-card *ngIf="contentDetail" [url]="contentDetail.poster_path ? contentDetail.poster_path : ''"></app-big-card>
            </div>
            <div class="titulo">
                <app-title-main 
                    [age]="certificationMovie.certification"
                    [name]="contentDetail.title ? contentDetail.title : contentDetail.original_name ? contentDetail.original_name : ''"
                    [date]="contentDetail.release_date ? contentDetail.release_date : contentDetail.first_air_date ? contentDetail.first_air_date : ''"
                    [genres]="contentDetail.genres"
                    [time]="contentDetail.runtime"
                ></app-title-main>

                <div class="rating_box">
                    <circle-progress
                        [percent]="formatRating(rating)"
                        [radius]="40"
                        [titleFontSize]="'20'"
                        [unitsFontSize]="'20'"
                        [outerStrokeWidth]="7"
                        [outerStrokeColor]="'#78C000'"
                        [titleColor]="'#FFF'"
                        [unitsColor]="'#FFF'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                    <span class="class_geral">Classificação geral dos utilizadores</span>
                </div>
            </div>
            <div class="content">
                <app-overview-box 
                    [tagline]="contentDetail.tagline ? contentDetail.tagline : ''"
                    [sinopse]="contentDetail.overview ? contentDetail.overview : ''"
                ></app-overview-box>
            </div>
        </div>
    </section>
</div>
