<app-menu-bar [screen]="'movies'"></app-menu-bar>
<app-banner-main [urlBackgroundImage]="randomUrl.url"></app-banner-main>
<section class="small-card">
    <div class="small-card_titulo">
        <h2>Tendência Filmes</h2>
    </div>
    <div class="container_small-card">
        <app-small-card *ngFor="let movie of moviesData" (click)="contentOverview('movie', movie.id)"
            [name]="movie.title ? movie.title : movie.original_name ? movie.original_name : ''"
            [url]="movie.poster_path ? movie.poster_path : ''"
            [date]="movie.release_date ? movie.release_date : movie.first_air_date ? movie.first_air_date : ''">
        </app-small-card>
    </div>
</section>