<section>
        <section class="main-banner" style="background-image: url('{{urlDoComponent}}');">
            <div class="container-content-banner">
                <div class="main-banner-title">
                    <h1>Bem-vindo(a).</h1>
                    <h2> Milhões de filmes, séries e pessoas para descobrir. Explore já.</h2>
                </div>
                <div class="main-banner-search">
                    <input type="search" id="search" name="search" placeholder="pesquisar por filme, série, ou pessoa...">
                    <button type="submit">Search</button>
                </div>
                
            </div>
        </section>
        <section>
            <div class="banner-oscar">
                <div>
                    <img src="../../../assets/imgs/logo-oscar.svg">
                </div>
                <div>
                    <button>View the winners -></button>
                </div>
            </div>
        </section>

</section>
