<section>
    <div>
        <section class="main-banner">
            <div class="container-content-banner">
                <div class="main-banner-title">
                    <h1>Bem-vindo(a).</h1>
                    <h2> Milhões de filmes, séries e pessoas para descobrir. Explore já.</h2>
                </div>
                <div class="main-banner-search">
                    <input type="search" id="search" name="search" placeholder="pesquisar por filme, série, ou pessoa...">
                    <button type="submit">Search</button>
                </div>
                
            </div>
            <div class="banner-oscar">
                <img src="../../../assets/imgs/logo-oscar.svg">
            </div>
        </section>
    </div>
    
</section>
